html {
  background-color: grey;
  font-family: Arial, Sans-serif;
  font-size: 18px;
  /* font-variant: small-caps; */
}

.welcome {
  display: none;
  position: relative;
  width: 500px;
  height: auto;
  border: solid 1px white;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}

h1 {
  text-align: left;
  /* margin-top: 25px; */
  margin: 15px 0 -10px 25px;
  /* margin-bottom: -10px; */
  /* border: solid 1px black; */
}

h3 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: -5px;
  /* border: solid 1px black; */
}

form {
  /* border: solid 1px black; */
  margin-top: 15px;
}

label {
  text-align: left;
  margin: 20px 0 0 25px;
  /* border: solid 1px black; */
}

input {
  margin: 0 0 0 5%;
  line-height: 1.5;
  width: 85%
  /* border: solid 1px red; */
}

.button {
  background-color: #2445EB;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  margin: 0 5%;
  border-radius: 10px;
}

.links {
  margin: 0 auto 25px auto;
  line-height: 1.5;
  width: auto;
  text-align: center;
  /* border: solid 1px black; */
  font-size: 14px;
}

#forgotUserName{
  margin-right: 15px;
}

hr {
  width: 95%;
  text-align: center;
}

#signup {
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #917211;
}

.signup {
  display: block;
  position: relative;
  width: 500px;
  height: auto;
  border: solid 1px white;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
}

#firstname, #lastname {
  width: 75%;
  margin-left: 0;
  /* max-width: 200px; */
}

#back {
  margin-bottom: 20px;
  background-color: #917211;
}

table {
  /* border: solid 1px black; */
  border-collapse: collapse;
  margin-left: 25px;
}

td {
  /* border: solid 1px black; */
  text-align: justify;
}

#label {
  margin: 0 0 0 0;
  /* border: solid 1px red; */
  max-width: 200px;
}
